div {
  width: 400px;
}

/* polônia */
div.white-PL {
  box-sizing: border-box;
  height: 100px;
  background-color: white;
  border: solid black 5px;
  border-bottom: none;
}

div.red-PL {
  box-sizing: border-box;
  height: 100px;
  background-color: red;
  border: solid black 5px;
  border-top: none;
}

/* holanda */
div.red-NLD {
  box-sizing: border-box;
  height: 100px;
  background-color: red;
  border: solid black 5px;
  border-bottom: none;
  margin-top: 50px;
}

div.white-NLD {
  box-sizing: border-box;
  height: 100px;
  background-color: white;
  border: solid black 5px;
  border-top: none;
  border-bottom: none;
}

div.blue-NLD {
  box-sizing: border-box;
  height: 100px;
  background-color: blue;
  border: solid black 5px;
  border-top: none;
}

/* tailândia */
div.red-THA {
  box-sizing: border-box;
  height: 100px;
  background-color: red;
  border: solid black 5px;
  border-bottom: none;
  margin-top: 50px;
}

div.white-THA {
  box-sizing: border-box;
  height: 100px;
  background-color: white;
  border: solid black 5px;
  border-top: none;
  border-bottom: none;
}

div.blue-THA {
  box-sizing: border-box;
  height: 200px;
  background-color: blue;
  border: solid black 5px;
  border-top: none;
  border-bottom: none;
}

div.red-THA02 {
  box-sizing: border-box;
  height: 100px;
  background-color: red;
  border: solid black 5px;
  border-top: none;
}
